<!-- filepath: /E:/Programação/autou/api/templates/contact.html -->
{% extends "header.html" %}

{% block content %}
    <div class="contact-container">
        <h1>Contato</h1>
        <p><strong>Nome:</strong> Matheus de Alcântara</p>
        <p><strong>LinkedIn:</strong> <a href="LINK">LINK</a></p>
        <p><strong>Email:</strong> <a href="mailto:dealcantaramatheus1@gmail.com">dealcantaramatheus1@gmail.com</a></p>
        <p><strong>Telefone:</strong> +55 61 996456676</p>

        <h2>Formação Acadêmica</h2>
        <p>Engenharia de Software - Bacharelado - Universidade de Brasília: 03/2023 - 03/2028</p>

        <h2>Habilidades</h2>
        <ul>
            <li><strong>Linguagens:</strong> Python, SQL, Javascript, C, Java</li>
            <li><strong>Frameworks:</strong> Flask, Django, NodeJS</li>
            <li><strong>Ferramentas:</strong> SQLite, PostgreSQL, Git, Github</li>
            <li><strong>Soft Skills:</strong> Trabalho em equipe, comunicação, pensamento crítico, resolução de problemas</li>
        </ul>

        <h2>Experiência Profissional</h2>
        <h3>Freelancer, Brasília</h3>
        <p><strong>Desenvolvedor Backend</strong> - Janeiro 2024 - Presente</p>
        <p>Sou desenvolvedor backend freelancer com experiência na criação, otimização e manutenção de sistemas robustos e escaláveis. Trabalho com linguagens como Python e frameworks como Django, desenvolvendo APIs RESTful, integrações com bancos de dados e soluções personalizadas para atender às necessidades de clientes de diversos setores. Tenho habilidade em solucionar problemas técnicos, implementar melhorias em sistemas existentes e garantir a segurança e eficiência das aplicações.</p>

        <h3>Orc’estra Gamificação, Brasília</h3>
        <p><strong>Desenvolvedor Backend</strong> - Outubro 2023 - Janeiro 2024</p>
        <p>Durante minha experiência na Orc'estra Gamificação, atuei como desenvolvedor backend, com foco em Node.js e no desenvolvimento de APIs RESTful. Participei de projetos corporativos, implementando soluções escaláveis e integrando serviços para atender às necessidades específicas dos clientes. Contribuí para o desenvolvimento de sistemas gamificados, garantindo a comunicação eficiente entre o frontend e o backend. Além disso, adquiri habilidades em boas práticas de desenvolvimento, versionamento de código e trabalho em equipe dentro de um ambiente ágil e colaborativo.</p>

        <h2>Projetos</h2>
        <h3>Website E-Commerce</h3>
        <p><strong>Link:</strong> <a href="LINK">LINK</a></p>
        <p>Principais atividades: construção de back-end em Django, utilizando SQLite3 como base de dados, criação de formulários, aplicação de validação de segurança e manutenção dos dados.</p>
        <p><strong>Tecnologias:</strong> Django, HTML, CSS, Bootstrap, SQLite3</p>

        <h3>QR Code Generator</h3>
        <p><strong>Link:</strong> <a href="LINK">LINK</a></p>
        <p>O Gerador de QR Code é um site simples para o usuário criar uma imagem de QR Code para um link desejado. Com uma interface simples para login e geração do QR code.</p>
        <p><strong>Tecnologias:</strong> Flask, HTML, CSS, SQLite3</p>

        <h2>Matheus de Alcântara</h2>
        <p>Sou estudante de engenharia de software na Universidade de Brasília
            e desenvolvedor backend freelancer. Tenho experiência em projetos
            de desenvolvimento web, com foco em Python e frameworks como Django
            e Flask. Estou sempre em busca de novos desafios e oportunidades
            para aprimorar minhas habilidades e conhecimentos na área de
            tecnologia. Entre em contato para saber mais sobre meu trabalho e
            experiência profissional.
        </p>
    </div>
{% endblock %}