<!-- filepath: /e:/Programação/autou/api/templates/header.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}E-Categoriza{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/styles.css' %}" />
  </head>
  <body>
    <header id="header">
      <nav>
        <h1><a href="/">E-Categoriza</a></h1>
        <ul>
          <li><a href="/" class="nav-btn">Home</a></li>
          <li>
            <a href="/emails/register" class="nav-btn">Cadastrar email</a>
          </li>
          <li><a href="/contact">Contato</a></li>
          <li><a href="/about" class="nav-btn">Sobre</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
    {% include 'footer.html' %}
    <script>
      let lastScrollTop = 0;
      const header = document.getElementById("header");

      window.addEventListener("scroll", function () {
        const scrollTop =
          window.pageYOffset || document.documentElement.scrollTop;
        if (scrollTop > lastScrollTop) {
          // Scroll down
          header.classList.add("hidden-header");
        } else {
          // Scroll up
          header.classList.remove("hidden-header");
        }
        lastScrollTop = scrollTop;
      });
    </script>
  </body>
</html>
